.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  margin: 20px 116px 60px 137px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 16px;
    margin-left: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}