.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  margin: 20px 115px 60px 138px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 15px;
    margin-left: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}