 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 88px;
}

.u-section-1 .u-text-1 {
  margin: 16px 0;
}.u-section-2 .u-sheet-1 {
  min-height: 507px;
}

.u-section-2 .u-group-1 {
  width: 640px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 132px;
  margin: 12px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 9px 12px 0 141px;
}

.u-section-2 .u-image-1 {
  width: 90px;
  height: 118px;
  margin: -24px auto 0 25px;
}

.u-section-2 .u-group-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 132px;
  width: 640px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 9px 12px 0 141px;
}

.u-section-2 .u-image-2 {
  width: 90px;
  height: 118px;
  margin: -24px auto 0 25px;
}

.u-section-2 .u-group-3 {
  width: 640px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 132px;
  margin: 9px auto 60px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 9px 12px 0 141px;
}

.u-section-2 .u-image-3 {
  width: 90px;
  height: 118px;
  margin: -48px auto 0 25px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-1 {
    width: 67px;
    height: 88px;
    margin-top: -19px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-2 {
    width: 67px;
    height: 88px;
    margin-top: -19px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-2 .u-group-1 {
    min-height: 49px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-right: 127px;
    margin-left: 16px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-group-2 {
    min-height: 45px;
    margin-top: 14px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 7px;
    margin-right: 127px;
    margin-left: 16px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 20px;
    margin-left: 19px;
  }

  .u-section-2 .u-group-3 {
    min-height: 55px;
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 13px;
    margin-left: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-2 .u-group-1 {
    min-height: 47px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-right: -12px;
    margin-left: 12px;
  }

  .u-section-2 .u-image-1 {
    width: 60px;
    margin-top: -19px;
    margin-right: 248px;
    margin-left: 0;
  }

  .u-section-2 .u-group-2 {
    min-height: 47px;
    margin-top: 12px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: -12px;
    margin-left: 12px;
  }

  .u-section-2 .u-image-2 {
    width: 60px;
    margin-top: -19px;
    margin-right: 248px;
  }

  .u-section-2 .u-group-3 {
    min-height: 63px;
    margin-top: 21px;
    margin-bottom: 47px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}